.header{
	background-color: #14487a;
	background-image: url('./images/header.jpg');
	background-repeat: no-repeat;
	background-position: 250px;
	padding: 30px;
	box-shadow: 0px 5px 10px black;
}

.recherche{
	text-align: center;
}

.submit{
	width: 25px;
}

.navig input{
	text-align: center;
}

.navig{
	text-align: center;
}

.films{
	box-shadow: 5px 5px 10px darkgray;
	max-width: 80%;
	margin: 0 auto;
}

.affiche{
	max-width: 10%;
}